{% load static %}
<footer class="pub-footer">
  <div class="pub-footer-top">
    <div>
      <h5>Liens</h5>
      <ul class="pub-footer-links">
        <li><a href="{% url 'index' %}">Accueil</a></li>
        <li><a href="{% url 'course' %}">Cours</a></li>
        <li><a href="{% url 'a_propos' %}">À propos</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
      </ul>
    </div>
    <div>
      <h5>Nos programmes</h5>
      <ul class="pub-footer-links">
        <li>Visioconférences</li>
        <li>Quiz &amp; évaluations</li>
        <li>Suivi de progression</li>
        <li>Certifications</li>
      </ul>
    </div>
    <div>
      <h5>Aide &amp; Support</h5>
      <ul class="pub-footer-links">
        <li><a href="mailto:support@openeduverse.com">support@openeduverse.com</a></li>
        <li><a href="tel:+22890443504">+228 90 44 35 04</a></li>
      </ul>
    </div>
  </div>
  <div class="pub-footer-bottom">© 2026 Tous droits réservés par OpenEduVerse</div>
</footer>
